version: "3"
services:
  app:
    container_name: goapi_app
    build:
      context: .
      dockerfile: docker/go/Dockerfile
    #  ↓この書き方だとCOPY go.mod(.sum) が動かない(ファイルが見つけられない)ので
    #  context: ./docker/go
    #  dockerfile: Dockerfile
    volumes:
      - ".:/go/src/app"
    tty: true
    environment:
      - GOPATH=/go/libs
      - DB_TYPE=postgres
      - POSTGRES_DBHOST=db
      - POSTGRES_DBNAME=sample
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "8080:8080"
    networks:
      - goapi
  db:
    container_name: goapi_db
    build:
      context: ./docker/pgsql
      dockerfile: Dockerfile
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=sample
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    networks:
      - goapi

networks:
  goapi:
    driver: "bridge"
